TD,
LI,
UL,
INPUT,
BUTTON,
OPTION,
P {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 13px;
}

DIV {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 14px;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	display: flex;
	height: 100%;
}

.themeDropdown-div {
	padding-top: 20px;
	padding-bottom: 10px;
}

.file-explorer {
	flex: 1;
	border-right: 1px solid #ccc;
	overflow-y: auto;
}



#editor-container {
	width: 800px;
	height: 600px;
}

#editor-container {
	border: 2px solid #999;
	border-radius: 5px;
}

.file-item {

	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 8px;
	margin-bottom: 5px;
}

.file-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.file-list li {
	cursor: pointer;
	padding: 10px;
}

.file-list li:hover {
	background-color: #f0f0f0;
}

file-explorer {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}

select#themeDropdown {
	padding-bottom: 10px;
}




.save-btn-div {
	padding-top: 15px;
}
.save-btn-span-class span :hover{
	cursor: pointer;

}

.save-btn-span-class {
	border: 1px solid rgb(210, 210, 210);
	text-align: center;
	font-weight: bold;
	color: #005F87;
	padding: 3px 12px;
	font-size: 13px;
	background-color: #f5f5f5;
	border-radius: 3px;
}