TD,
LI,
UL,
INPUT,
BUTTON,
OPTION,
P {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 13px;
}

DIV {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 14px;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}

.wrapper {
	display: flex;
	height: 100%;
}

.themeDropdown-div {
	padding-top: 20px;
	padding-bottom: 10px;
}

.file-explorer {
	flex: 1;
	border-right: 1px solid #ccc;
	overflow-y: auto;
}


#editor-wrapper {
	flex: 1;
	padding-left: 10px;
	overflow-y: auto;
}


#editor-container {
	width: 100%;
	height: 100%;
	border: 2px solid #999;
	border-radius: 5px;
}


.file-item {
	font-size: 14px;
}

.file-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.file-list li {
	cursor: pointer;
	padding: 3px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 298px;
}

.file-list li:hover {
	background-color: lightgrey;
}

/*file-explorer {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}
*/
select#themeDropdown {
	padding-bottom: 10px;
}




.save-btn-div {
	padding-top: 5px;
	margin-left: 835px
}

.save-btn-span-class span :hover {
	cursor: pointer;

}

.save-btn-span-class {
	border: 1px solid rgb(210, 210, 210);
	text-align: center;
	font-weight: bold;
	color: #f5f5f5;
	padding: 3px 12px;
	font-size: 13px;
	background-color: #005F87;
	border-radius: 3px;
	width: 75px;
	height: 30px;
}



#sidebar {
	width: 310px;
	height: 100%;
	overflow-y: auto;
}

#sidebar-header {
	padding: 3px;
}

#sidebar-header h2 {
	margin: 0;
	font-size: 18px;
}

#project-tree {
	list-style: none;
	padding: 0;
	margin: 0;
}

.folder {
	padding: 10px;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}

.folder:hover {
	position: relative;
	background-color: rgb(192, 192, 192);
}

.folder.active span {
	border: 2px solid blue;

}

.arrow {
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.arrow::after {
	content: '▶';
	font-size: 12px;
}

.collapsed .arrow::after {
	content: '▶';
}

.expanded .arrow::after {
	content: '▼';
}

.collapsed ul {
	display: none;
}

.file {
	font-size: 14px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 22px;
	margin-left: 145px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 6px;
	left: 0;
	right: 0;
	bottom: -6px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 23px;
	left: 4px;
	bottom: 1.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

hr:not([size]) {
	height: 1.5px;
}

.fa.active {
	transform: rotateZ(90deg);
}

.summary {
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 2px;
	margin-top: 2px;
}

.summary-icon {
	/*margin-right: 5px;  Adjust margin as needed
            margin-left: 30px;
            display: inline-block;  Ensure icons are displayed
            position: relative;*/
}

.upload-icon {
	margin-left: 10px;
}

.workflow-icon {
	margin-left: 10px;
}

.workflow-summary {
	margin-right: 5px;
	margin-left: 72px;
}

.tooltip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	display: none;
}

.summary-icon:hover .tooltip {
	display: block;
}

#popupContainer,#rename-popup-Container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	height: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
}


#popup,#rename-popup {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.form-control {
	width: 96%;
	padding: 4px 8px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 13px;
	line-height: 1.5;
}

#popup h2 {
	margin-top: 0;
}


#buttons {
	text-align: right;
}

.popup-button,.rename-popup-button {
	margin-left: 10px;
	padding: 3px 8px;
	min-width: 80px;
	margin-top: 10px;
	cursor: pointer;
}

.hidden {
	display: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}




.split__bar {
	background-color: #a9a7a5;
	width: 4px;
	height: 100%;
	cursor: col-resize;
}