/* Resetting default styles for certain elements */
TD,
LI,
UL,
INPUT,
BUTTON,
OPTION,
P {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 13px;
}
DIV, h2 {
	font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
	font-size: 14px;
}
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
}
.wrapper {
	display: flex;
	height: 100%;
}
h3,h5{
	color:#005F87;
}
.summary {
	margin: 0;
	padding: 5px;
	color: white;
	line-height: 1.5;
}

.themeDropdown-div {
	padding-top: 20px;
	padding-bottom: 10px;
}
/* Styling for the file explorer */
.split__left {
	flex: 0 0 auto;
	width: 310px;
	overflow-y: auto;
	border-right: 1px solid #ccc;
}

#sidebar {
	width: 310px;
	height: 100%;
	overflow-y: auto;
}
#sidebar-header {
	padding: 15px;
	position: inherit;
	top: 0;
	background-color: #2D373C;
	z-index: 1;
	border-bottom: 2px solid #ccc;
}

#sidebar-header h3 {
	margin: 0;
	font-size: 18px;
}
#project-tree {
	list-style: none;
	padding: 0;
	margin: 0;
}
.folder {
	padding: 10px;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}
.file-list li {
	cursor: pointer;
	padding: 3px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: white;
	background-color: #2D373C
}
.file-group {
	margin: 0;
	padding: 0;
}
/* .active{
	 background-color: #555f69;
}*/
.scroll-bar
{
    width: 100%;
    height: 100% !important;
    overflow: auto auto;
    scrollbar-width: thin;
}

.CodeMirror-vscrollbar{
	overflow-y:hidden  !important;
	}
.CodeMirror-hscrollbar{
	overflow-x:scroll !important;
	scrollbar-width: thin !important;
}
.file-list li:hover {
	background-color: #3c464b;
}

.split {
	overflow:hidden;
	display: flex;
	height: 100%;
}
.split__bar {
	background-color: #dddddd;
	width: 2px;
	cursor: col-resize;
}
.split__right {
	flex: 1 1 auto;
	padding: 0px;
}
.file-list {
	background-color: white;
	padding: 0px;
	margin-top: -5px;
	margin-bottom: 0;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

#editor-container {
	/* position: fixed;
	top:40px; */
	width: 100%;
	height:100%;
	border-radius: 5px;
	box-sizing: border-box;
	overflow:auto auto !important;
	
}
 
#aboutus-container {
	width: calc(100% - 10px);
	height:700px;
	border-bottom: 2px solid #999;
	border-radius: 5px;
	box-sizing: border-box;
}
 

.save-btn-div {
	padding-top: 0px;
	margin-left: auto;
}
.save-btn-span-class {
	position: fixed !important;
    top: 2px !important;
    right: 4px !important;
    /* border: 1px solid rgb(210, 210, 210); */
    font-weight: bold;
    font-size: 13px;
    width: 89px;
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: #005F87;
    border: 1px solid #003750;
}
 
.script-management-container-div {
    position: inherit;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}
#popupContainer,
#rename-popup-Container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;

}
.error{
	color:red;
}
#popup,
#rename-popup {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.form-control {
	width: 96%;
	padding: 4px 8px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 13px;
	line-height: 1.5;
}
.info-button {
   /*  background-color: #17a2b8; 
    border-color: #17a2b8; 
    color: white;  */
}
 
/* .info-button:hover,
.info-button:focus {
    background-color: #138496; 
    border-color: #138496; 
    color: white; 
} */
 

#popup h2,
#rename-popup h2 {
	margin-top: 0;
	font-size:20px;
}
.breadcrumb{
	margin-bottom: 0 !important;
}
#buttons {
	text-align: right;
}
.popup-button,
.rename-popup-button {
	width: 20%;
    padding: 3px 8px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 13px;
    margin-top: 10px;
}
.hidden {
	display: none;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.accordion {
  color: white;
  background-color:#2D373C;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #555f69;
}
.active-open {
	rotate: 90deg;
}
.panel {
  display: none;
}
._close {
  display: none;
}
.icon {
	float: right;
    display: none;
}
.info-style
{
	color: white;
	font-size: 16px;
	padding-left: 10px;
    padding-top: 3px;
}
 

#breadcrumbNav {
	position: fixed;
	z-index: 1000;
	width: 100%;
}
.card-style{
	max-width: 18rem; 
	width: 71%;
	min-height: 8rem;
	text-align: center;
}
.icon-style
{
	font-size: 25px;padding-top: 8px;
}
.body-style
{
	text-align: center;
	padding: 0px;
}